body{
  background: #F5F5F5;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6C757D;
  text-align: left;
}
/********** Custom CSS ************/
.h1, h2, h3 {
  font-weight: 700 !important;
}

.h4, h5, h6 {
  font-weight: 500 !important;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #3D464D;
}
a {
  font-weight: 500;
  text-decoration: none
}
a:hover {
  color: #FFD333;
}

.mb-30 {
  margin-bottom: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.p-30 {
  padding: 30px;
}

.input-group-text {
  border-radius: 0px;
}

.btn.btn-primary {
  color: #3D464D !important;
}

.btn-square {
  width: 40px;
  height: 40px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 50px;
  height: 50px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 20px 10px;
  color: #F5F5F5;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #FFD333;
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 5px 0px;
  }
}

.navbar-vertical.navbar-light .navbar-nav .nav-link {
  padding: 8px 30px;
  border-bottom: 1px solid #F5F5F5;
}


.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}

.dropleft .dropdown-toggle::after {
  display: none;
}

.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #FFD333;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.navbar-light .dropdown-toggle::after,
.navbar-dark .dropdown-toggle::after {
  display: none;
}

#header-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 0 3px 12px 3px;
  background: transparent;
  border: 1px solid #FFFFFF;
  transition: .5s;
}

.carousel-indicators .active {
  width: 30px;
  background: #FFFFFF;
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(61, 70, 77, 0.5);
  z-index: 1;
}

.bg-light{
  background: #fff !important;
}
.section-title .bg-secondary{
    background: #F5F5F5 !important;
    margin-right: 8px !important;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 50%;
  left: 0;
  border-top: 1px dashed #bec5cb;
  z-index: -1;
}


.product-offer {
  position: relative;
  overflow: hidden;
}

.product-offer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

.product-offer:hover img {
  transform: scale(1.2) rotate(5deg);
}

.product-offer .offer-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(61, 70, 77, 0.5);
  z-index: 1;
}

.product-offer .btn.btn-primary {
  color: #000 !important;
  border: 1px solid #FFD333;
  background: #FFD333;
}

.cat-item {
  background: #FFFFFF;
  transition: .5s;
}

.cat-item:hover {
  color: #fff;
  background: #FFD333;
}

.cat-item img {
  transition: .5s;
}

.cat-item:hover img {
  transform: scale(1.2) rotate(5deg);
}

.product-item {
  transition: .5s;
}

.product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.product-action a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.product-item:hover {
  box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action {
  background: rgba(255, 255, 255, 0.7);
}

.product-item:hover .product-action a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}

.product-add-to-cart {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  opacity: 0;
}
.product-item:hover .product-add-to-cart {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}
.product-item:hover .product-add-to-cart .btn:first-child {
  color: #fff;
  border: 1px solid #ff9f00;
  background: #ff9f00  !important;
}

.product-item:hover .product-add-to-cart .btn:nth-child(2) {
  color: #fff;
  border: 1px solid #fb641b;
  background: #fb641b !important;
}

.product-item .product-img img {
  transition: .5s;
}

.product-item:hover .product-img img {
  transform: scale(1.2);
}

.product-item .btn:hover {
  color: #FFD333 !important;
}

.product_bubble{
	position: absolute;
	top: 15px;	
	height: 22px;
  line-height: 22px;
  padding: 0 6px;
	border-radius: 3px;
	text-transform: uppercase;
}
.product_bubble span{
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.product_bubble_right::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 6px;
	right: auto;
	top: auto;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 6px;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left{
	left: 15px;
}
.product_bubble_right{
	right: 15px;
}
.product_bubble_red::after{
	border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_green::after{
	border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_blue::after{
	border-color: #0066bd #0066bd transparent transparent;
}
.product_bubble_red{
	background: #fe4c50;
}
.product_bubble_green{
	background: #51a042;
}
.product_bubble_blue{
	background: #0066bd;
} 

#filter .badge {
    color: #495057;
}



.table.table-borderless thead tr,
.table.table-borderless tbody tr:not(:last-child) {
  border-bottom: 15px solid #F5F5F5;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.description{
  height: 60px;
}